<div class="right-container">
    <img src="assets\undraw_online_chat_re_c4lx.svg" alt="">
    <article>
      <h2>Blase</h2>
      <p>Ahora puedes enviar y recibir mensajes desde nuestra aplicacion web.</p>
    </article>
    <div class="linea"></div>
    <span class="link-blasse">
      <i class="fa-solid fa-laptop"></i>
      <span>¡Escoge un contacto para mensajear o inicia una conversacion con alguien nuevo! <a href="/" class="link-danger" style="text-decoration: none;">Blase</a></span>
    </span>
  </div>