.chat{
    
    width: 63rem;
    height:45rem;
    right: 0;
    position: fixed;
    border: none;

}

.name{
    height:4rem;
    background-color: #384E6A;
}

.name p{
    color: white;
    font-weight: bolder;
}

.card-body{
    padding: 0.5rem;
    background-image: url("../../../assets/background.jpg");
}

.mensajeria {

    width: 60rem;
    margin-left: 1.5rem;
    margin-top: 40rem;
    position: fixed;

}

  
.botones{
  
      margin-left: 0.5rem;
      font-weight: bolder;
      border-radius: 2rem;
  
}


.enviado{
    display: block;
    float: right;
    background-color: #f7f9fa;
    font-weight: bold;
    min-width: 50.01%;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;


}

.recibido{
    display: block;
    float: left;
    background-color: #f7f9fa;
    font-weight: bold;
    min-width: 50.01%;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;

}

.contenedorMensajes{
    overflow-y: auto;
    height: 80vh;
}

.contenedorMensajes::-webkit-scrollbar{
    display: none;
}

.msj{
    margin-top: 1rem;
    max-width: 10rem;

}

.bottom p{

    font-size: 1rem;
    float: right;
    font-style: italic;

}

.normal{
    height: 82.5vh;
}

.respuesta{
    height: 76.6vh;
}


.seen{
    background-repeat: no-repeat;
    border: none;
    content: url("../../../assets/seen.png");
}

.unseen{
    background-repeat: no-repeat;
    border: none;
    content: url("../../../assets/unseen.png");
}

.documento{
    font-style: italic;
    text-decoration-line: none;
}
