
<div class="container-fluid p-0 " style="height: 100vh;">
<nav class="navbar  " style="height:10%;background-color: #384D6A;">
  <div class="container-fluid align-items-center">
    <ul class="nav">
  <li class="nav-item">
      <img [src]="profileUrl | async" width="40" height="42" class="d-inline-block rounded-circle align-text-top">
  </li>
    <li class="nav-item">
      <h4 class="pt-2 ps-3 text-light">{{this.nombreContacto}}</h4>
  </li>
  <li class="nav-item">
    <img width="30" height="30" style="float: right;" [ngClass]="this.vistoArr[this.vistoArr.length - 1]==false?'unseen':'seen'">
</li>
</ul>
</div>
</nav>

<div *ngIf="this.procesoStatus!==false" class="progress" style="height: 3px;">
  <div class="progress-bar" role="progressbar" [style.width]="(this.porcentaje | async) + '%'"  
  [attr.aria-valuenow]="(this.porcentaje | async)"
  aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="container-fluid bg-dark" *ngIf="data" style="height:80%" [ngClass]="this.temp? 'respuesta':'normal'">
<div  id="contenedorMensajes" #contenedorMensajes [scrollTop]="scrollUltimo" class="contenedorMensajes ">

  <div *ngFor="let mensaje of mensajes; let i=index" 
  class="msj p-2 " [ngClass]="TipoMensaje(mensaje.emisor)" (click)="ResponderMensaje(mensaje.mensaje)">
     
    <div *ngIf="mensaje.mensajeResp" class="card-header bg-dark text-white text-truncate">
        <a>{{mensaje.mensajeResp}}</a>
      </div>
      
      <div *ngIf="mensaje.url">
        <img [src]="mensaje.url" class="img-fluid" style="max-width: 100%; height: auto;" onerror="this. style. display='none'"
        (click)="Redireccionar(mensaje.url)">

        <div class="card-header">
          <a href style="text-decoration:none;"><p class="documento text-truncate" (click)="Redireccionar(mensaje.url)">{{mensaje.nombreFile}}</p></a>
          <img class="img-fluid" (click)="Redireccionar(mensaje.url)" src="../../../assets/clip.png">
        </div>
        
      </div>
        {{mensaje.mensaje}}

        <div class="bottom" style="float: right;">
        <p class="lead">{{mensaje.fecha}}</p>  
      </div>
  </div>
</div>
</div> 

<div *ngIf="this.temp" (click)="Cancelar()" style="z-index: 1; cursor: pointer;" class="card-header h-3 text-truncate">
  <a>{{this.temp}}</a>
</div>
<form class="container-fluid bg-opacity-75 bg-dark" style="height: 10%;" (ngSubmit)="enviarMensaje()">
<div class="input-group ">
  <input id="multimedia" style="display: none;" (change)="EnviarArchivo($event)" type="file">
<input type="text" class="form-control mt-2 pt-2" placeholder="Escribir mensaje" [(ngModel)]="nuevoMensaje"
[ngModelOptions]="{standalone:true}" aria-label="Recipient's username" aria-describedby="basic-addon2">

<div class="input-group-append pt-2">

  <button class="btn btn-outline-secondary botones" type="button" (click)="enviarMensaje()">
    <img src="../../../assets/send.png">
  </button>
  <label for="multimedia" class="btn btn-outline-secondary botones" type="button">
    <img src="../../../assets/email.png">
  </label>

  </div>
</div>


</form>
</div>
