<div class="container-fluid">
  <div class="row">
<main class="col-xs-9 col-sm-9 col-md-9  col-lg-10  p-0">
    <nav class="navbar " style="background-color: #384D6A;">
      <div class="container-fluid align-items-center">
        <ul class="nav">
      <li class="nav-item">
          <img src="../../../assets/unknown.png"  width="40" height="42" class="d-inline-block rounded-circle align-text-top">
      </li>
        <li class="nav-item">
          <h4 class="pt-2 ps-3 text-light">Helen</h4>
      </li>
    </ul>
      </div>
    </nav>
    <div class="container bg-dark" *ngIf="UserLogged" style="height:85vh">
      <div id="contenedorMensajes" #contenedorMensajes [scrollTop]="scrollUltimo" class="contenedorMensajes">

        <div *ngFor="let mensaje of mensajes" class="msj p-2"
          [ngClass]="(UserId==mensaje.emisor)? 'enviado':'recibido'"> 
          {{mensaje.mensaje}}
          <p class="lead">{{mensaje.fecha}}</p>
        </div>

      </div>
    </div>
    <form class="container-fluid" style="background-color: #384D6A;height: 61.5px;" (ngSubmit)="enviarMensaje()">
      <div class="input-group ">
      <input type="text" class="form-control pb-3" placeholder="Escribir mensaje" [(ngModel)]="nuevoMensaje"
      [ngModelOptions]="{standalone:true}" aria-label="Recipient's username with two button addons">
      
      <div class="input-group-append" (click)="enviarMensaje()">

        <button class="btn btn-outline-secondary botones" type="button" (click)="enviarMensaje()">
          <img src="../../../assets/send.png">
        </button>
        <button class="btn btn-outline-secondary botones" type="button">
          <img src="../../../assets/email.png">
        </button>

        </div>
      </div>
    
    
    </form>
  </main>
  </div>
</div>