@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
  font-family: 'Inter', sans-serif;
}
.container {
  height: 100vh;
}
.form-control {
	border: none;
}

::placeholder { color: black; }

