/* You can add global styles to this file, and also import other style files */



#toggle{
    display: none;
  }
  
  
  
#toggle:checked~#menu{
  transition: 1s left;
    left: -100%;


}

#toggle~#menu{
  left: 0;

}



label[for=toggle]{
    cursor: pointer;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
  }