/* You can add global styles to this file, and also import other style files */



#toggle{
    display: none;
  }
  
#toggle:checked~#sidebarMenu{
  transition: 1s left;
  left: -100%;

}

#toggle~#sidebarMenu{
  transition: 0.3s left;
  left: 0;

}

label[for=toggle]{
    cursor: pointer;
    display: flex;
  }