<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
<div class=" col-12   d-flex align-items-center  " style="height:100vh">

<div class="col-md-7 h-50 mx-auto row   ">
  <div class="col-6 " style="background-color:#F0F0F0; border-radius: 10px;">
	   <img src="../../../assets/Blase-Logo.png" alt="" class=" d-block mx-auto" width="45%">
	   <div class="col-12">
<form  class="col-12" >
  <div class="mb-3 mx-auto   col-9" >
          <input type="text" class="form-control "  placeholder="Nombre" [(ngModel)]="usuario.name" name="name">

  </div>
  <div class="mb-3 mx-auto  col-9">
          <input type="email" class="form-control"  placeholder="Correo" [(ngModel)]="usuario.email" name="email">

  </div>
    <div class="mb-3 mx-auto  col-9">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" [(ngModel)]="usuario.password"  name="password">

  </div>

  <div class="mb-3 mx-auto  col-7">
    <input class="btn  text-light col-12 text-wrap" style="background-color:#48DCE6 ;"  type="submit" value="Registrarse" (click)="Ingresar()">
  </div>
 
     </form>
	   </div>
           
</div>

	<div class="col-6" style="background-color:#384D6A; border-radius: 10px;">
	  <img src="../../../assets/update.jpg" class="mx-auto d-block pt-5 col-9"  alt="">
<div class="mb-3 mx-auto col-8">
<div class="mb-3 mx-auto mt-3 col-12"> 
  <label class="btn text-light col-12 text-wrap" style="background-color:#FC4F83;" for="upload">Subir imagen</label>
<input type="file" id="upload" class="btn text-light" (change)="upload($event)" style="display:none;" accept=".png,.jpg" />
</div>

</div>
<div class="mb-3 mx-auto col-8">
      <input type="text" class="form-control mx-auto  col-12 text-wrap"   placeholder="Comentario de perfil" [(ngModel)]="usuario.comentario" name="comentario">
</div>

	  </div>

	</div>
<!--
  <div class="main-container">
    <div class="container">
      <div class="form-container">
        <div class="image-2">
          <img src="../../../assets/Blase-Logo.png" alt="">
        </div>
        <div class="form-register">
          <form action="" class="form-r">
    <input class="btn-1" type="submit" value="Registrarse con google" (click)="IngresarWithGoogle()">

            
          </form>    
        </div>
      </div>
      <div class="form-logo">
              </div>
    </div>
  </div>

-->