
<div class="body">
    <div id="wrapper">
  
<input type="checkbox" id="toggle">
      <button (click)="logout()" id="logout"></button>
  
  
      <div id="menu">
        <label id="salir" for="logout">
        <img src="../../../assets/logout.png">
      </label>
        <ul>
          <li id="perfil"><a>
            <div id="perfil">
              <label for="toggle">
              <img id="img_perf" [src]="profileUrl | async" alt="">
             </label>
            </div>
          </a></li>
          
          <li><a >
            <div class="option">
              <img src="../../../assets/unknown.png" alt="">
              <div class="box">
                <h3>Pedro</h3>
              </div>
            </div>
          </a></li>
  
          <li><a >
            <div class="option">
              <img src="../../../assets/unknown.png" alt="">
              <div class="box">
                <h3>Pedro</h3>
              </div>
            </div>
          </a></li>
  
          <li><a >
            <div class="option">
              <img src="../../../assets/unknown.png" alt="">
              <div class="box">
                <h3>Pedro</h3>
              </div>
            </div>
          </a></li>
  
        </ul>
      </div>
</div>  